*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.border{
    border: 12px solid transparent;
    border-radius: 9px;
}
.border:hover{
    border-color: whitesmoke;
}
.border2{
    border: 5px solid transparent;
    border-radius: 3px;
}
.border2:hover{
    border-color: rgb(136, 194, 236);
}

.navbar{
    width: 72.600px;
    height: 695.200px;
    position: fixed;
    border-right: 1px solid gainsboro;
}

.vertical-nav{
    display: Flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.fa-pinterest{
    margin-top: 30px;
    margin-bottom: 5px;
}

.nav-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 475px;
}

.fa-gear{
    margin-top: 100px;
    margin-bottom:20px;
}

/* header*/ 
.search{
    height: 80px;
    width: 862.400px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 73px;
}

.search1{
    width: 766.400px;
    font-size: 24px;
    height: 48px;
    background-color: rgb(221, 220, 220);
    padding-left: 16px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

input{
    width: 630.4px;
    background-color: rgb(221, 220, 220);
    font-size: 24px;
    border: none;
    outline: none;
}

.media{
    width: 112px;
    font-size: 24px;
    background-color: rgb(221, 220, 220);
    border: none;
    display: flex;
    justify-content: space-around;
}
